.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
}

.cart__li {
  background-image: url('./logo.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  width: 150px;
  height: 220px;
  border: 1px solid #282c34;
  margin-top: 5px;
}

.span {
    display: flex;
    flex-direction: row;
    padding: 8px 2px;
    margin: 2px;
    background-color: #868176;
    color: rgb(255, 255, 255);
    width: 95%;
}

.header {
    background-color: #353a44;
    color: aliceblue;
    padding: 10px;
  }

.footer {
  background-color: #282c34;
  color: aliceblue;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
