.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 3;
    margin-top: 270px;
    margin-left: 80px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
  
  }
  
  .speach {
    position: absolute;
    margin-left: 220px;
    margin-top: 60px;
    z-index: 14;
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 450px;
    margin-top: 200px;
  }